 body {
        background-color: rgb(189, 160, 229);
      }
      img {
        border: 1px solid white;
        border-radius: 4px;
        padding: 5px;
      }
      img:hover {
        box-shadow: 0 0 2px 1px rgba(10, 8, 8, 0.5);
      }